@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat Alternates", sans-serif;
  --font-chillax: "Chillax", sans-serif;
}

@font-face {
  font-family: 'Chillax';
  src: url('/fonts/Chillax-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html, body, #root {
  min-height: 100vh;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #1a1a1a;
  background-image: linear-gradient(180deg, #000000 0%, #1a1a1a 100%);
  color: white;
}
